body{
    background-color: rgb(234, 123, 190);
    border:none;
}

h1{
    color: rgb(226, 8, 164);
    border:dashed;
}

.titulo{ 
    color: rgb(255, 0, 225);
    text-align: center;
}
button{
    color: rgb(240, 14, 153);
    font-size: large;
}
.imagem-dino{
    width: 200px;
}